.hide {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;    
}


/***************************************/
/* Main pages and general styling START */
body {
    margin: 0;
    background: #85997D;
    background: -webkit-linear-gradient(top left, #85997D, #AD088C);
    background: -moz-linear-gradient(top left, #85997D, #AD088C);
    background: linear-gradient(to bottom right, #85997D, #AD088C);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

header {
    margin: 0;
    height: 100px;
}

h1 {
    padding: 0;
    color: white;
    display: block;
    text-align: center;
    margin-block-start: 0;
    margin-block-end:0;
}

button {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 2rem;
    color: blue;
}

#buttonBox {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* Main pages and default styling END */
/***************************************/

/***************************************/
/* Game playing page START */
#time {
    text-align: center;
    color: white;
}

#teamLayer {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}

#scoreDiv {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#eventLayer {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
}

#homeScorer, #awayScorer {
    margin-top: 0;
}

.myTeam {
    color: #70e000;
    font-weight: bolder;
}

.opponent {
    color: red;
    font-weight: bolder;
}

/* Game playing page END */
/***************************************/

/***************************************/
/* Team selection page START */
#teamTable {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    margin: auto;
}

#teamTable th {
    background-color: grey;
    padding: 0.25rem 1rem;
    border-radius: 5px;
}

#teamTable tr {
    cursor: pointer;
}

#teamTable tr:hover {
    background-color: #D6EEEE;
}

.selected {
    background-color: yellow;
}
/* Team selection page END */
/***************************************/

/***************************************/
/* League Table page START */
#leagueTable {
    background-color: none;
    margin: auto;
}

thead tr th {
    background-color: #3A86FF;
    border-radius: 5%;
    color: black;
    padding: 2px 15px;
}

#leagueTable tbody tr {
    background-color: #8338EC;
}

#leagueTable tbody tr td{
    text-align: center;
    color: white;
    border-radius: 10px 0 10px 0;
}

#leagueTable tbody #league_1 {
    background-color: #FFBE0B;
}

#leagueTable tbody #league_2,
#leagueTable tbody #league_3,
#leagueTable tbody #league_4 {
    background-color: #FB5607;
}

#leagueTable tbody #league_18,
#leagueTable tbody #league_19,
#leagueTable tbody #league_20 {
    background-color: red;
}


/* League Table page END */
/***************************************/