.hide {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    margin: 0;
    background: #85997D;
    background: -webkit-linear-gradient(top left, #85997D, #AD088C);
    background: -moz-linear-gradient(top left, #85997D, #AD088C);
    background: linear-gradient(to bottom right, #85997D, #AD088C);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

header {
    margin: 0;
    height: 100px;
}

h1 {
    padding: 0;
    color: white;
    display: block;
    text-align: center;
    margin-block-start: 0;
    margin-block-end:0;
}

button {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 2rem;
    color: blue;
    width: 300px;
}

/***************************************/
/* Landing pages and Main pages START */

#buttonBox {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#teamSel_container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

#teamSel_container select {
    width: 300px;
    margin: 10px 0;
    height: 35px;
    font-size: 1.5rem;
}

#mainMenu_btns {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}
/* Main pages and default styling END */
/***************************************/

/***************************************/
/* Game playing page START */
#time {
    text-align: center;
    color: white;
}

#teamLayer {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}

#scoreDiv {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#eventLayer {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
}

#homeScorer, #awayScorer {
    margin-top: 0;
}

.myTeam {
    color: #70e000;
    font-weight: bolder;
}

.opponent {
    color: red;
    font-weight: bolder;
}

/* Game playing page END */
/***************************************/

/***************************************/
/* Team selection page START */
#teamTable {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
}

#teamTable th {
    background-color: grey;
    padding: 0.25rem 1rem;
    border-radius: 5px;
}

#teamTable tr {
    cursor: pointer;
}

#teamTable tr:hover {
    background-color: #D6EEEE;
}

.selected {
    background-color: yellow;
}

.tableButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
   
}

#formationButtons {
    display: flex;
    flex-direction: column;
}

/* Team selection page END */
/***************************************/

/***************************************/
/* League Table page START */
#leagueTable {
    background-color: none;
    margin: auto;
}

thead tr th {
    background-color: #3A86FF;
    border-radius: 5%;
    color: black;
    padding: 2px 15px;
}

#leagueTable tbody tr {
    background-color: #8338EC;
}

#leagueTable tbody tr td{
    text-align: center;
    color: white;
    border-radius: 10px 0 10px 0;
}

#leagueTable tbody #league_1 {
    background-color: #FFBE0B;
}

#leagueTable tbody #league_2,
#leagueTable tbody #league_3,
#leagueTable tbody #league_4 {
    background-color: #FB5607;
}

#leagueTable tbody #league_18,
#leagueTable tbody #league_19,
#leagueTable tbody #league_20 {
    background-color: red;
}


/* League Table page END */
/***************************************/

/***************************************/
/* Results Table page START */

#resultsTable {
    width: 50vw;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
}

#results_container {
    display: flex;
    flex-direction: column;
}

#resultsBody tr {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 10% 10% 40%;
    grid-template-areas:
    "home homeScore awayScore away";
    font-weight: bolder;
}

#resultsMainBtn {
    margin: 15px auto;
}

.awayTd {
    margin-left: auto;
}

.scoreNum {
    margin: 0 auto;
}

/* Results Table page END */
/***************************************/

/***************************************/
/* Schedule Table page START */
#fixture_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#roundHeading {
    width: 300px;
    text-align: center;
}

.fixture_container {
    display: grid;
    width: 600px;
    margin: 0 auto;
    grid-template-rows: 100%;
    grid-template-columns: 45% 10% 45%;
    grid-template-areas:
    "homeTeam versus awayTeam";
    font-weight: bolder;
}

.awayTeam {
    margin-left: auto;
}

.versus {
    margin: auto auto;
}


/* Schedule Table page END */
/***************************************/