.hide {
    display: none;
}

body {
    margin: 0;
    background: #85997D;
    background: -webkit-linear-gradient(top left, #85997D, #AD088C);
    background: -moz-linear-gradient(top left, #85997D, #AD088C);
    background: linear-gradient(to bottom right, #85997D, #AD088C);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

header {
    margin: 0;
    height: 100px;
}

h1 {
    padding: 0;
    color: white;
    display: block;
    text-align: center;
    margin-block-start: 0;
    margin-block-end:0;
}

button {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 2rem;
    color: blue;
}

#buttonBox {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#time {
    text-align: center;
    color: white;
}

#teamLayer {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}

#scoreDiv {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#eventLayer {
    color: white;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
}

#homeScorer, #awayScorer {
    margin-top: 0;
}

#teamTable {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
}

#teamTable th {
    background-color: grey;
    padding: 0.25rem 1rem;
    border-radius: 5px;
}

#teamTable tr {
    cursor: pointer;
}

.selected {
    background-color: yellow;
}